---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/alt-fuel-stations/v1/nearest.json?api_key=eMIYpsYtYpjEicEb0YixkA45uX6yxCASTNPBplSt&format=json&location=80203&radius=6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 06 Jun 2016 15:48:35 GMT
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '998'
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7312095,"longitude":-104.9826965,"precision":{"name":"postal_code","types":["postal_code"],"value":5},"station_locator_url":"http://www.afdc.energy.gov/afdc/locator/stations/","total_results":71,"station_counts":{"total":130,"fuels":{"E85":{"total":3},"ELEC":{"total":112,"stations":{"total":53}},"HY":{"total":0},"LNG":{"total":0},"BD":{"total":0},"CNG":{"total":7},"LPG":{"total":8}}},"offset":0,"fuel_stations":[{"access_days_time":"24
        hours daily; call 866-809-4869 for required Clean Energy card","cards_accepted":"CleanEnergy","date_last_confirmed":"2015-03-04","expected_date":null,"fuel_type_code":"CNG","id":635,"groups_with_access_code":"Public
        - Card key at all times","open_date":"1996-12-15","owner_type_code":"P","status_code":"E","station_name":"Clean
        Energy - Valero #4086","station_phone":"866-809-4869","updated_at":"2016-01-13T17:53:35Z","geocode_status":"GPS","latitude":39.732303,"longitude":-104.987795,"city":"Denver","intersection_directions":"I-25,
        exit onto Speer Blvd S, left on Colfax Ave, right on Broadway","plus4":null,"state":"CO","street_address":"1001
        Broadway St","zip":"80203","bd_blends":null,"e85_blender_pump":null,"ev_connector_types":null,"ev_dc_fast_num":null,"ev_level1_evse_num":null,"ev_level2_evse_num":null,"ev_network":null,"ev_network_web":null,"ev_other_evse":null,"hy_status_link":null,"lpg_primary":null,"ng_fill_type_code":"Q","ng_psi":"3000
        3600","ng_vehicle_class":"MD","distance":0.28187},{"access_days_time":"24
        hours daily","cards_accepted":null,"date_last_confirmed":"2016-06-06","expected_date":null,"fuel_type_code":"ELEC","id":66897,"groups_with_access_code":"Public","open_date":null,"owner_type_code":null,"status_code":"E","station_name":"UDR","station_phone":"888-758-4389","updated_at":"2016-06-06T08:06:43Z","geocode_status":"GPS","latitude":39.7300224,"longitude":-104.9883424,"city":"Denver","intersection_directions":"816
        ACOMA 1; For residents only - 5th Floor","plus4":null,"state":"CO","street_address":"800
        Acoma St","zip":"80204","bd_blends":null,"e85_blender_pump":null,"ev_connector_types":["J1772"],"ev_dc_fast_num":null,"ev_level1_evse_num":null,"ev_level2_evse_num":2,"ev_network":"ChargePoint
        Network","ev_network_web":"http://www.mychargepoint.net/","ev_other_evse":null,"hy_status_link":null,"lpg_primary":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"ev_network_ids":{"posts":["1:118249"]},"distance":0.3117},{"access_days_time":"Garage
        business hours; pay lot","cards_accepted":null,"date_last_confirmed":"2015-11-03","expected_date":null,"fuel_type_code":"ELEC","id":50065,"groups_with_access_code":"Public","open_date":"2012-12-01","owner_type_code":"LG","status_code":"E","station_name":"Cultural
        Center Complex Garage","station_phone":"303-640-1096","updated_at":"2016-01-13T18:00:36Z","geocode_status":"200-8","latitude":39.735271,"longitude":-104.988519[...]
